{% extends 'theme.html' %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        {% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock css %}
        {% block meta %}
            <meta name="description" content="品牌球鞋展示,囊括nike、addidas、ANTA、Converse,提供商品的展示,提供资讯一览,轻松娱乐项目。">
            <meta name="Keywords" content="nike,addidas,ANTA,Converse">
        {% endblock meta %}
        {% block title %}<title>shoes shows-品牌鞋类展示-资讯一览、视觉盛宴！</title>{% endblock title %}
    </head>
    <body>
    {% block body_for_index %}
        <header>
            <div class="w header">
                <div class="logo">
                    <h1>
                        <a href="{% static 'img/index/logo.png' %}"><img src="{% static 'img/index/logo.png' %}" alt="LOGO"></a>
                    </h1>
                </div>
                <div class='user'>  
                    <a href="">登录</a>&nbsp;&nbsp;&nbsp;
                    <a href="">注册</a>
                </div>
                <div class="navitems">
                    <a href="{% url 'info:info' %}" class="show">网站介绍</a>
                    <div class="show" id="show">球鞋展示
                        <div class="frame1" id="frame">
                            <a href="{% url 'display:display' 'nike' %}">Nike</a>
                            <a href="{% url 'display:display' 'adidas' %}">Adidas</a>
                            <a href="{% url 'display:display' 'converse' %}">Converse</a>
                        </div>
                    </div>
                    <a href="{% url 'news:news' '1' %}" class="show">球鞋资讯</a>
                    <a href="{% url 'contact:contact' %}" class="show">联系我们</a>
                </div>
            </div>
        </header>
        <main>
            <div class="main">
                <div id="album">
                    <img src="{% static 'img/index/af1.png' %}"/>
                    <img src="{% static 'img/index/b.png' %}"/>
                    <img src="{% static 'img/index/c.png' %}"/>
                    <img src="{% static 'img/index/e.png' %}"/>
                    <img src="{% static 'img/index/f.png' %}"/>
                    <img src="{% static 'img/index/g.png' %}"/>
                    <img src="{% static 'img/index/h.png' %}"/>
                    <img src="{% static 'img/index/i.png' %}"/>
                </div>
            </div>
        </main>
        <script src="{% static 'js/index.js' %}"></script>
    {% endblock body_for_index %}
    </body>
</html>
    