{% extends 'theme_for_user.html' %}

{% block user_main %}
<form action="{% url 'user:login' %}" class="contact-form" method="POST">  
<!-- 防止跨站点攻击 -->
{% csrf_token %}
    <input type="text" name='username' class="contact-form-text" id="userName" placeholder="Please input your username">
    <input type="password" name='password' class="contact-form-text" id="password" placeholder="Please input your password">
    <div class='error'>{{ error }}</div>
    <input type="submit" class="contact-form-btn" value="Login">
</form>
{% endblock user_main %}
