{% extends 'theme_for_user.html' %}

{% block title %}<title>发布界面</title>{% endblock title %}
{% block psg_title %}<h2 class='title'>My Shoes</h2>{% endblock psg_title %}
{% block user_main %}
<main>
    <div class="main">
        <div class="contact-section">
            <div class="border"></div>
            <form action="{% url 'user:publish' %}" class="contact-form" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                    <label for="shoes_title">Title</label>   
                    <input name="shoes_title" type="text" class="contact-form-text" id="shoes_title" placeholder="例：AJ1">
                
                    <label for="shoes_introduce">Introduce</label>
                    <textarea name="shoes_introduce" class="contact-form-text" id="shoes_introduce" placeholder="例：外表美观"></textarea>
                
                    <label for="shoes_link">APP Link</label>
                    <input name="shoes_link" type="text" class="contact-form-text" id="shoes_link" value="http://">
                
                    <label for="shoes_small_picture">APP Small Picture</label>
                    <input type="file" name="shoes_small_picture" class="contact-form-file" id="shoes_small_picture" >
                   
                    <label for="shoes_big_picture">APP Big Picture</label>
                    <input type="file" name="shoes_big_picture" class="contact-form-file" id="shoes_big_picture" >
                    
                    <div class='error'>{{ picture_error }}</div>
                    <input type="submit" class="contact-form-btn" value="publish now">
                    
                    <!-- <div class='error'>{{ error }}</div> -->
            </form>
        </div>
    </div>
</main>

{% endblock user_main %}