{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Jack purcell/Jack purcell2/2-1.jpg' %}">
    <img src="{% static 'img/Jack purcell/Jack purcell2/2-2.jpg' %}">
    <img src="{% static 'img/Jack purcell/Jack purcell2/2-3.jpg' %}">
    <img src="{% static 'img/Jack purcell/Jack purcell2/2-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        JACK PURCELL系列中文名被称作“开口笑”，是全球知名帆布鞋一线品牌匡威旗下的主要子品牌之一。因该系列起源于二十世纪三十年代的世界羽毛球赛冠军JACK PURCELL，所以英文名称为converse jack purcell系列。这一系列最大的特征就是鞋头部分非常具有象征性的smile弧线标志，以及鞋跟后方的Jack Purcell的亲笔签名。
    </p>
    <p>
        converse jack purcell系列的第一双鞋诞生于二十世纪三十年代，真正面向市场也是在该时期。converse jack puecell系列的第一位设计师也就是改良优化匡威篮球鞋使其更好地适用于羽毛球以其他休闲运动的前世界羽毛球冠军Jack Puecell。随着该系列的发展，设计师团队也越来越多元化，倾向于与全球知名设计师及插画家合作，碰撞出灵感的火花，converse jack purcell系列的价格一般而言处于400-600区间内。
    </p>
{% endblock describe %}