{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Chuck/chuck2/2-1.jpg' %}">
    <img src="{% static 'img/Chuck/chuck2/2-2.jpg' %}">
    <img src="{% static 'img/Chuck/chuck2/2-3.jpg' %}">
    <img src="{% static 'img/Chuck/chuck2/2-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        II代取消了黑色条纹设计，车线也改为黑色，基本上一眼就能认出与普通版的不同，当然外观这种东西仁者见仁小龙虾版本的因为比较偏向于滑板鞋的定位，后跟处稍微圆润一些，保障运动时的舒适度小龙虾后跟的一圈车线是普通版本all star 没有的，2代与1代一样，肯定不会有这一圈车线
    </p>
    <p>
        内衬部分，2代变动比较大，首先2代帆布内衬变为打孔布，类似于无纺布那种材质，其次2代鞋舌上半部黑色中间有少量海绵填充，比1代薄薄的一片要厚实，最明显的区别，就是2代鞋舌多了松紧固定，这样一来鞋舌不容易跑偏，不系鞋带也不会过于松垮。
    </p>
    <p>
        两个鞋垫除了量产的II代，为了突出lunarlon的材质，把后跟衬布裁小了一圈，让大家在穿脱鞋子的时候一眼可以看到一圈绿绿的lunarlon，相比之下，小龙虾的鞋垫除非你抽出来，是看不出个所以然的。但是深深为衬布与鞋垫之间的热合工艺担忧，耐久度肯定不如小龙虾那种全包的设计。
    </p>
    <p>
        购买建议：尺码是标准的all star尺码，脚感鞋底与luanr版本的小龙虾一致，但是鞋面材质比较硬，小龙虾虽然是翻毛皮但是比较柔软，不知道穿久了会不会软一些。取消黑边设计确实比较独特，但看起来没那么精神了，也少了点什么的感觉，也许这就是标新立异的结果吧。如果是重度蜈蚣，那就是买买买！如果是匡威控，按照现在的行情来讲，很是抢手，也是买买买！如果是普通用户，倒没必要非要在缺货严重的现在入手，以后2代会是常态，肯定还有一些更好看的配色，相信一定能够颠覆你对Chuck Taylor All Star的印象。
    </p>
{% endblock describe %}