{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Chuck/chuck3/3-1.jpg' %}">
    <img src="{% static 'img/Chuck/chuck3/3-2.jpg' %}">
    <img src="{% static 'img/Chuck/chuck3/3-3.jpg' %}">
    <img src="{% static 'img/Chuck/chuck3/3-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
<p>
    Converse 发布的全新鞋款 Chuck Modern Lux ，一改往日帆布风格，使用了山羊皮制作鞋面，舒适程度随着成本一起上升。该鞋款以篮球鞋鼻祖 Chuck Taylor All Star 作为原型创作，分别以黑白纯色山羊皮制作鞋面，并以同色 Phylon 鞋底呼应，鞋身采用 Nike Hyperfuse 超融合技术加持，使得耐用性和支撑性较以往有了质的飞跃。
</p>
{% endblock describe %}