{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Chuck/chuck4/4-1.jpg' %}">
    <img src="{% static 'img/Chuck/chuck4/4-2.jpg' %}">
    <img src="{% static 'img/Chuck/chuck4/4-3.jpg' %}">
    <img src="{% static 'img/Chuck/chuck4/4-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
<p>
    因为“编织技术” 的成熟，轻量化是现代所有球鞋的趋势，自从 Converse 被NIKE公司收购之后，，Nike 也是毫不吝啬的让 Converse 经典鞋款与自己现代的科技所结合，再 Lunarlon 缓震鞋垫后，这一次则是把Flyknit 科技放到了Chuck Taylor All Star 鞋款之上。
</p>
<p>
    Converse Chuck Taylor All Star x Nike Flyknit，现已登陆全球各大 Converse 线下指定店铺发售，定价为 $110 美元
</p>
{% endblock describe %}