{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Harden/Harden2/2-1.jpg' %}">
    <img src="{% static 'img/Harden/Harden2/2-2.jpg' %}">
    <img src="{% static 'img/Harden/Harden2/2-3.jpg' %}">
    <img src="{% static 'img/Harden/Harden2/2-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        无论怎样幅度的动作对鞋身都很难造成夸张形变，这要归功于 adidas 在 Harden Vol.2 的鞋面上采用了 Forgefiber 的科技。这种将 TPU 涂层织物通过机器编程二次编织在鞋面上的技术可以使鞋面分区域的起到力度支撑的效果。
    </p>
    <p>
        说实话，作为一名经常打球的人，对缓震的要求怎么都不会轻谈满意。可 Harden Vol.2 已经搭载了adidas 招牌，也是现在缓震科技中最受推崇的缓震科技 BOOST 。
    </p>
    <p>
        作为一双加载了近全掌内靴的球鞋，保护性能似乎应该不成问题，实际上 Harden Vol.2 的内靴贴合度也十分争气。可问题是，哈登二的前掌相对较窄，而亚洲人较宽的脚型在买鞋时需要大半码选用，造成鞋子的保护性不能达到预期。
    </p>
    <p>
        在哈登二上，后跟非常夸张的上包，而所有后撤步的脚步，都是后跟先于前掌落地，这样的包围式后跟设计可以有效的保证球员稳定的完成出手。而嵌于中底和外底间的大面积 TPU 也有效保证了鞋底的抗扭转性。
    </p>
{% endblock describe %}
