{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Harden/Harden4/4-1.jpg' %}">
    <img src="{% static 'img/Harden/Harden4/4-2.jpg' %}">
    <img src="{% static 'img/Harden/Harden4/4-3.jpg' %}">
    <img src="{% static 'img/Harden/Harden4/4-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        首先从外观说起，哈登4整体外观上没有很大的槽点，视觉设计和新天足BYW如出一辙，分区域不同线条轮廓的设计，不仅有视觉上的细腻感受，也更加有利于赛场的实战性表现。
    </p>
    <p>
        Harden Vol. 4搭载了全新的轻质缓震科技——Lightstrike，这种材料制定轻盈，以酷似甲片的多面形态呈现，具有很强的缓震脚感以及能量反馈，
    </p>
    <p>
        整个鞋底的柔软程度介于Bounce和Boost之间，弹性和支撑性方面有着出色的平衡表现，相对来说更适合篮球运动，事实证明，Harden Vol. 4在实战中的表现也令人惊讶。
    </p>
{% endblock describe %}
