{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Harden/Harden3/3-1.jpg' %}">
    <img src="{% static 'img/Harden/Harden3/3-2.jpg' %}">
    <img src="{% static 'img/Harden/Harden3/3-3.jpg' %}">
    <img src="{% static 'img/Harden/Harden3/3-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        这一代的外观和之前一代完全不同，在构造上化繁为简，而看到实物时候觉得鞋子还是挺不错的，各方各面都把哈登元素表现的玲璃尽致，鞋舌处的哈登专属Logo，鞋头弹性绑带上的哈登签名字样，以及鞋子内侧的哈登的13号英文字样，表现的都非常直观。
    </p>
    <p>
        这一代的鞋帮比上一代有所降低，大大提高了灵活性，脚后跟的“大屁股”非常厚实，保护性还是不错的。整个鞋面部分最重要的就是位于前掌的这跟弹性绑带了，提高了鞋面的支撑。
    </p>
    <p>
        这一代的Boost厚度有所降低，很多朋友可能觉得“缩水”了，但是恰恰相反，厚度的降低并不会影响脚感，反而更实在了，缓震绝对够用，而整个鞋子的重心相对来说也低了，加上前掌外侧的稳定模块和弹性绑带是相关联的，反馈感稳定性得到了明显的提升。另一个要说的就是它的外底，大面积的人字纹大大提高了防滑耐磨性。
    </p>
{% endblock describe %}
