{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Kyrie/kyrie2/2-1.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie2/2-2.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie2/2-3.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie2/2-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        欧文篮球鞋配色一向来都很霸气，战斗力气场强，橙色配色亮骚鞋身，此外Kyrie 2的鞋面上使用了类似KD 4的魔术贴，Swoosh放在中底后跟外侧又让人想起Hyperfuse 2014的设计。
    </p>
    <p>
        nike zoom hyperrev欧文评测中涉及到的一些物理原理，就比如欧文的变向运球技能，在变向运球时，欧文的蹬地力可以达到770磅(约350公斤)并且与地面呈40度的锐角，身体则承受了4倍的重力加速度。(这么说可能比较直观，宇航员通常在火箭发射时可以体验到3倍的重力加速度。)
    </p>
    <p>
        由此可见，欧文的球鞋必须在巨大的压力下依然表现出色，在设计上球鞋的中底和外底采用了弯曲底面。拱形的几何设计被安排在了足跟中间以及跖骨前端处，这样可以让欧文重新调整他的重心，不用将整个脚掌踏到球场，不影响他发力，可以轻松突破送出妙传，是不是觉的nba篮球鞋欧文二代很牛逼？
    </p>
    <p>
        欧文2鞋款物理性能非常之多，包括牛顿第一定律有关惯性，所以耐克特意设计了KYRIE 2的抓地力图案以及鞋面绑带系统(包裹在脚面而非脚踝周围)。绑带设计能将穿着者的足跟牢牢固定在球鞋里，保证在加速或减速时双脚的安全锁定。欧文2代篮球鞋测评中提到足跟Zoom Air气垫，可以在欧文加速时迅速把力量从足跟传递至脚趾，也可以在减速的时候提供缓冲保护。
    </p>
{% endblock describe %}
