{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Kyrie/kyrie4/4-1.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie4/4-2.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie4/4-3.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie4/4-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        Kyrie4借用了前三代Kyrie签名鞋中的设计线索，包括标志性的外底牙形上翻设计和三代的整体轮廓，整双鞋子看起来更加稳固。在前掌鞋面的处理上选用更加舒适透气的网面材料，而鞋帮处则选用皮革，在提供支撑的前提下又提升了颜值！刺绣的Swoosh画龙点睛，使整双鞋的质感得到提升！
    </p>
    <p>
        Kyrie签名线的关键设计要点在于外底，众所周知，欧文的骚操作是出了名的骚，急速、大幅度的夸张变向是他的招牌，他通过这样的方式切断对方的防线，对于鞋底的要求自然与普通球鞋有所不同。设计师最开始从解构外底入手，并决定在外底上加入“Flex Groove”（弯形凹槽），将外底分成两半，这样的设计使得鞋底更容易弯折，从而提供更高的灵活性。当欧文在身体倾斜的情况下改变运动方向时，他会因为球鞋外底模块之间的伸缩性获得更快的速度！同时设计师还考虑到鞋底的抓地性和稳定性，将三代中鞋底的不同分区进行升级改进，将整个外底分成多个不同分区，每个分区中都具有不同方向的纹路凹槽。
    </p>
    <p>
        三代中上翻的外底设计在四代中被放大！面积更大，分布更广，以便这位脚踝终结者在赛场上更加安心的突破得分！而这些“牙齿”部分也加入了和外底相同的纹路，以提高变相中的抓地力。总的来说，外底上的改变让这双鞋变得更加灵活，反馈更迅速，助力欧文向篮筐发起冲击！
    </p>
    <p>
        配置方面，这一次核心依旧是后掌Zoom Air单元，不过被大家吐槽过硬的中底发泡材质终于由PHYLON升级为CUSHLON，相比前代，这种材质会更有弹性！欧文在上脚之后也立马就感受到了这个部分的不同，这种脚感的变化，注定让鞋子的穿着舒适度上有了不小的提升！前掌一直以来都是欧文系列设计师关注的重点，如果你看过欧文比赛中的那些夸张变向的视频或者图片，你就会知道欧文球鞋的前脚掌会承受多少高速运动和压力形变！而这一问题单靠鞋底是无法完全解决的，鞋面部分同样重要！
    </p>
{% endblock describe %}
