{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Kyrie/kyrie3/3-1.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie3/3-2.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie3/3-3.jpg' %}">
    <img src="{% static 'img/Kyrie/kyrie3/3-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        从外观上来说，欧文3在延续了欧文2的鞋型上，整体显得更加干练。不仅取消了之前标志性的魔术贴绑带，并且在鞋身上多了很多菱角一样的毒刺设计，使得鞋身看起来有些犀利。
    </p>
    <p>
        相比较上一代，在鞋带上有所改良，前掌部分多打了一个孔用于穿插鞋带，也让鞋子能够更好的贴合脚面 。这一切都使得欧文3的穿着者能更加灵活。由于欧文3适用于灵活突破型打法，高于脚踝的鞋帮是必然的，得起到保护作用。然而为了使鞋身灵活度加大，这次NIKE在鞋底上其实做了不少文章。
    </p>
    <p>
        欧文3并没有什么实质性的黑科技，有的只是设计上的人性化。没有太多科技的中底，脚感偏硬。耐磨橡胶底，抓地力一流，但其实前掌上两块彩色区域是鞋底的精华所在。
    </p>
    <p>
        穿着欧文3后能明显感觉到前掌的两块彩色橡胶要较其他部位突出一点，目的就是为了让你不管什么姿势都能感受到牢牢地抓地力，尤其是在侧转向时。整个鞋底的曲面设计，加上前掌的微凸设计，欧文3完全可以在普通地板上做到想停就停想走就走。高启动速度，高灵活变向，夸张的说，这双鞋可以说就是为了“变向”这个词而设计的。灵活的鞋底，和高帮鞋面对脚踝的保护作用，使得你可以放心大胆的去变向，去突破。
    </p>
    <p>
        鞋底后掌有一块可视zoom air气垫，气垫面积并不大，跳起来稍有感觉，不过对于这样一块小面积的气垫来说，并不要指望它能起到多大的缓震作用。 脚后跟宽的话，会感觉中间凹，两边膈脚。不过要说后卫鞋的话，其实影响并不太大。
    </p>
{% endblock describe %}
