{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Lillard/Lillard2/2-1.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard2/2-2.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard2/2-3.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard2/2-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        利拉德2代可以说是的利拉德系列的一个小的巅峰，球鞋的外观仍然以偏严肃的风格进行呈现，很好的诠释了德系品牌的作风，鞋帮部分相较于上一代也有所提升，大大增加了球鞋的稳定性。
    </p>
    <p>
        二代的鞋面相比较一代而言，并没有较大提升，利用编制+皮革进行打造，在保证了编制材料透气的同时，皮革材质也提供了较好的延展性，相比于一代而，贴合度也提升了很多。
    </p>
    <p>
        二代的耐磨性有了一定的提高，鞋底以Continental马牌橡胶（个别配色没有）作为鞋底的材料，增大了鞋底的纹路深度，采用斜纹交织的排列样式，也让抓地力得到了很好的提升。
    </p>
    <p>
        2代最大的改变应该就是缓震的更新，采用了更加成熟的BOUNCE科技，当然也是一种缓震胶，BOUNCE采用高密度的吸震。所以可以感觉到更多的柔软度在里面，回弹速度稍微慢一些，但是在连贯的跑动和跳跃中利拉2的缓震可以说上了一个档次。
    </p>
{% endblock describe %}