{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Lillard/Lillard4/4-1.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard4/4-2.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard4/4-3.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard4/4-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        鞋楦的设计比较的偏大和偏宽，鞋领处也由普通的中帮变为了袜套设计，也算是跟着潮流走，不过它的鞋口虽然是袜套设计但是弹性太小了以至于很难穿脱，这一点还是比较的让人诟病。鞋面是网眼式的设计，看上去貌似比较的透气，鞋带处的话有点像Nike的飞线设计，在内侧有一个利拉德的签名
    </p>
    <p>
        内衬比较一般，不过上脚的感受是比较的贴合，还算舒适。鞋底外侧的矩尺状也是比较的有特色，包裹做得还算一般，系紧鞋带后其实还有点压脚背。
    </p>
    <p>
        后跟支撑是有的，稳定性还算OK，但是脚踝的保护做得还是不太好，不太够。鞋面的网面也显得非常的软，有点不太安全的感觉，支撑比较不够。透气因版本而不同，这里不做评价。重量上很优秀，大概42码340克左右，真的是很轻质的后卫鞋款了，非常赞。
    </p>
    <p>
        双密度的bounce材料，在缓震方面对于体重不算太大属于中小体重的朋友来说是够用的，脚感非常的柔软，但没有太弹的感觉，主要还是一种下陷感觉。抗扭的话真的不算好，没有太多支撑，看重这一方面的朋友购买时一定要慎重选择。防侧翻是很不错的，加大一圈的鞋底，很OK。
    </p>
{% endblock describe %}