{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/Lillard/Lillard3/3-1.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard3/3-2.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard3/3-3.jpg' %}">
    <img src="{% static 'img/Lillard/Lillard3/3-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        科技方面，Dame 3则在上一代的基础上继续革新：球鞋中底搭载了升级版的全掌双密度Bounce科技，搭配tech-fit内靴提供疾速反馈，使后跟拥有卓越缓震保护性能，将舒适与保护完美结合。TPU材质结合纺线网眼鞋面，具备超凡透气性能，同时兼具强大的鞋面支撑，多重鞋带设计提供了个性化系带模式。
    </p>
    <p>
        整双球鞋多处体现利拉德个人与家乡的元素，巧妙融入个性化的设计细节，橡胶疾速大底提供超强抓地力，也展示了利拉德少年称雄的球场元素。
    </p>
    <p>
        为响应本次Dame 3 “一起称雄”的篮球精神，阿迪达斯在2016年12月28日于北京世贸天阶篮球馆举办了一场别开生面新年篮球赛。本次受邀参加活动的人包括国内知名篮球评论员，媒体人，以及多位知名街球手，共同穿着Dame 3 CNY配色进行现场实战体验。阿迪达斯希望以本次活动为契机，将利拉德与阿迪达斯所倡导的“一起称雄”的精神，与所有广大篮球爱好者们共同分享。
    </p>
{% endblock describe %}