{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/LeBron/LeBron3/3-1.jpg' %}">
    <img src="{% static 'img/LeBron/LeBron3/3-2.jpg' %}">
    <img src="{% static 'img/LeBron/LeBron3/3-3.jpg' %}">
    <img src="{% static 'img/LeBron/LeBron3/3-4.jpg' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        延续了2代的坦克鞋型设计，去掉了脚踝处的绑带并在脚踝处开了缺口，元年版本比复刻版脚踝处多了TPU支撑性好了很多，不过这双鞋比较容易磨脚踝上面的位置，元年实战一场鞋底小部分脱胶
    </p>
    <p>
        跟2代一样的前后掌气垫，缓震足够
    </p>
    <p>
        比2代多增加了一块碳板/伪碳板的TPU提供支撑，保护方面全鞋身的pebax也提供了很好的支撑性，做动作的时候脚不会滑出去
    </p>
    <p>
        平均水平的耐磨性，抓地跟2代感觉差不多基本持平
    </p>
{% endblock describe %}
