{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/LeBron/LeBron4/4-1' %}">
    <img src="{% static 'img/LeBron/LeBron4/4-2' %}">
    <img src="{% static 'img/LeBron/LeBron4/4-3' %}">
    <img src="{% static 'img/LeBron/LeBron4/4-4' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        个人认为的勒布朗正代系列最具有代表性和魅力的鞋款，一体化成型的Foma鞋身，重新回归的脚踝绑带，活在童年的一双球鞋，希望尽早出复刻，实战一场，球鞋两侧均有不同程度的开胶，而且修复极其困难，鞋底分块出现不同程度开胶，非常不建议大家用元年的LBJ4实战
    </p>
    <p>
        中底+全掌zoom气垫组成的巨大发泡鞋垫，脚感十分软，像是陷进去一样，软绵绵的脚感导致启动速度过慢，但是舒适性毋庸置疑
    </p>
    <p>
        全章伪碳板的TPU支撑片和Foma材料提供了足够支撑，球鞋带有内靴包裹性极佳，脚踝处的绑带提供了紧致的脚踝包裹
    </p>
    <p>
        平均水平左右的耐磨，抓地不错
    </p>
{% endblock describe %}
