{% extends 'theme_for_shoes_detail.html' %}
{% load staticfiles %}
{% block image %}
    <img src="{% static 'img/LeBron/LeBron2/2-1' %}">
    <img src="{% static 'img/LeBron/LeBron2/2-2' %}">
    <img src="{% static 'img/LeBron/LeBron2/2-3' %}">
    <img src="{% static 'img/LeBron/LeBron2/2-4' %}">
{% endblock image %}
       
{% block describe %}
    <p>
        第一次采用可视的cage zoom，脚踝处的绑带让鞋子臃肿了许多，但是无可厚非的说这双鞋的设计在勒布朗系列中是趋于前列的，个人心中小于4代-6代（仁者见仁），元年球鞋实战一场鞋底大面积脱落，不如一代
    </p>
    <p>
        前掌双气室zoom+后章大马蹄形cage zoom能够提供非常好的缓震，启动够用，无奈的是球鞋本身重量偏重影响了部分启动
    </p>
    <p>
        中底没有TPU或者碳板支撑，但是cage zoom的外层提供了很好的后半掌支撑，使得球鞋不会具有非常大的形变
    </p>
    <p>
        耐磨性对比一代差强人意，在平均水平左右，抓地性能超过AZG，是一双及其稳定的坦克球鞋
    </p>
{% endblock describe %}

