{% extends 'theme.html' %}
<!DOCTYPE html>
{% load staticfiles %}
    <html lang="en">
        <head>
            {% block css %}<link rel="stylesheet" href="{% static 'css/shoes_list.css' %}">{% endblock css %}
            {% block title %}{% endblock title %}
        </head>
        <body>
            {% block body %}
                <header>
                    <div class="head">
                        <div class="logo">
                            <h1>
                                <a href="{% static 'img/logo.png' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                            </h1>
                        </div>
                        <div class='user'>
                            <!-- 若用户已登录 -->
                            {% if user.is_authenticated %}
                                <a href="{% url 'user:publish' %}">发布</a>&nbsp;&nbsp;&nbsp;
                                <a href="Javascript:{document.getElementById('logout').submit()}">退出</a>&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'user:publish_list' %}">网友发布</a>
                                <form id="logout" method="POST" action="{% url 'user:logout' %}">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form> 
                            {% else %}
                                <a href="{% url 'user:login' %}">登录</a>&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'user:signup' %}">注册</a>&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'user:publish_list' %}">网友发布</a>
                            {% endif %}
                        </div>
                        <div class="navitems">
                            <a href="{% url 'info:info' %}" class="show">网站介绍</a>
                            <div class="now" id='now'>球鞋展示
                                <div class="frame1" id="frame">
                                    <a href="{% url 'display:shoes_list' 'nike' %}">Nike</a>
                                    <a href="{% url 'display:shoes_list' 'adidas' %}">Adidas</a>
                                    <a href="{% url 'display:shoes_list' 'converse' %}">Converse</a>
                                </div>
                            </div>
                            <a href="{% url 'news:news' '1' %}" class="show">球鞋资讯</a>
                            <a href="{% url 'contact:contact' %}" class="show">联系我们</a>
                            <a href="{% url 'index:index' %}" class="show">回到首页</a>
                        </div>
                    </div>
                    <div class="header">
                        <div id="outer">	<!-- 可视框 -->
                            <ul id="imgList">	<!-- 放置所有图片 -->
                                {% block rotation_picture %}
                                {% endblock rotation_picture %}
                            </ul>
                            <div id="navDiv">	<!-- 导航按钮 -->
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                                <a href="javascript:;"></a>
                            </div>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="main" id="main">
                        <div id="shoes">
                            {% block main_shoestype %}
                            {% endblock main_shoestype %}
                        </div>
                    </div>
                </main>
                
                <footer>
                    <div class="footer">
                        <div id="box"></div>
                        <article id='content'></article>
                        <div id="more" class="more">
                            <h3>查看更多</h3>
                        </div>
                        <div id="end" class="end"></div>
                    </div>
                </footer>
                {% if messages %}
                {% for msg in messages %}
                <script>alert('{{ msg.message }}');</script>
                {% endfor %}
                {% endif %}

                <script src="{% static 'js/display.js' %}"></script>
                <!-- <script src="{% static 'js/loadmore.js' %}"></script> -->
                




                <!-- <script>
			var myBox = document.getElementById('box');
			var myContent = document.getElementById('content');
			var more = document.getElementById('more');
			var myAdias = document.getElementById('adidas');
			var MyEnd=document.getElementById('end');
			function handleButtonPress(e) {
				myBox.className = 'box';
				var httprequest = new XMLHttpRequest();
				httprequest.onreadystatechange = handleResponse1;
				path_name1=e.target.parentNode.parentNode.parentNode.parentNode.id;
				path_name2=e.target.parentNode.parentNode.parentNode.id;
				file_name=e.target.id;
				httprequest.open('GET',"http://www.shoesshows.club/shoes"+"/"+path_name1+"/"+path_name2+"/"+file_name+"/"+file_name+".html"); 
				httprequest.send();		
			}
			function handleResponse1(e) {
				if(e.target.readyState == XMLHttpRequest.DONE && e.target.status==200){
					myContent.innerHTML=e.target.responseText;
				}
				
			}
			function handleResponse2(e) {
				if(e.target.readyState == XMLHttpRequest.DONE && e.target.status==200){
					myAdias.innerHTML+=e.target.responseText;
					MyEnd.innerHTML="<h4>敬请期待</h4>";
					more.className='last';
					for (var i=0;i<document.querySelectorAll("#adidas li").length;i++){
						document.querySelectorAll("#adidas li")[i].onclick = handleButtonPress;
					}
				}
			}
			function disappear() {
				var myContent = document.getElementById('content');
				var myBox = document.getElementById('box');
				myContent.innerHTML='';
				myBox.className='disappear';	
			}
			function getMore(e) {
				var httprequest = new XMLHttpRequest();
				httprequest.onreadystatechange = handleResponse2;
				httprequest.open('GET','more_adidas.html'); 
				httprequest.send();		
			}
			more.onclick=getMore;
			for (var i=0;i<document.querySelectorAll("#adidas li").length;i++){
				document.querySelectorAll("#adidas li")[i].onclick = handleButtonPress;
			}
			myBox.onclick=disappear; -->
				
		</script>
            {% endblock body %}
        </body>
    </html>