<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        {% block css %}{% endblock css %}
        {% block meta %}{% endblock meta %}
        {% block title %}{% endblock title %}
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>