{% extends 'theme.html' %}
<!DOCTYPE html>
{% load staticfiles %}
    <head>
        {% block css %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock css %}
        {% block title %}{% endblock title %}
    </head>
    <body>
        {% block body %}
            <header>
                <div class="header">
                    <div class="logo">
                        <h1>
                            <a href="{% static 'img/user/logo.png' %}"><img src="{% static 'img/user/logo.png' %}" alt="LOGO"></a>
                        </h1>
                    </div>
                    {% block psg_title %}{% endblock psg_title %}
                    <a href="{% url 'index:index' %}" class='return'>返回首页</a>
                </div>
            </header>
            {% block user_main %}{% endblock user_main %}
            <script src="{% static 'js/user.js' %}"></script>
        {% endblock body %}
    </body>
</html>
