
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
        <title>登录页面</title>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="logo">
                    <h1>
                        <a href="{% static 'img/user/logo.png' %}"><img src="{% static 'img/user/logo.png' %}" alt="LOGO"></a>
                    </h1>
                </div>
                <h2 class='title'>Login</h2>
                <a href="{% url 'index:index' %}" class='return'>返回首页</a>
            </div>
        </header>
        <main>
            <div class="main">
                <div class="contact-section">
                    <div class="border"></div>
                    {% block user_main %}{% endblock user_main %}
                </div>
            </div>
        </main>
        <script src="{% static 'js/user.js' %}"></script>
    </body>
</html>
