<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        {% block css %}{% endblock css %}
        {% block meta %}{% endblock meta %}
        {% block title %}{% endblock title %}
    </head>
    <body>
        {% block body_for_index %}{% endblock body_for_index %}
        {% block body_for_info %}{% endblock body_for_info %}
        {% block body_for_display %}{% endblock body_for_display %}
        {% block body_for_news %}{% endblock body_for_news %}
        {% block body_for_contact %}{% endblock body_for_contact %}
    </body>
</html>