{% load staticfiles %}					
	<div id="adidas">
		<div id="lillard">
			<h2>Lillard系列</h2>
			<ul id="shoesList">
				<li class="Lillard1">
					<img src="{% static 'img/Lillard/lillard1-first.jpg' %}" id="lillard1">
					<h3>Lillard1</h3>
				</li>
				<li class="Lillard2">
					<img src="{% static 'img/Lillard/lillard2-first.jpg' %}" id="lillard2">
					<h3>Lillard2</h3>
				</li>
				<li class="Lillard3">
					<img src="{% static 'img/Lillard/lillard3-first.jpg' %}" id="lillard3">
					<h3>Lillard3</h3>
				</li>
				<li class="Lillard4">
					<img src="{% static 'img/Lillard/lillard4-first.jpg' %}" id="lillard4">
					<h3>Lillard4</h3>
				</li>
			</ul>
		</div>
	</div>
	
