{% load staticfiles %}
	<div id="nike">
		<div id="leBron">
			<h2>LeBron系列</h2>
			<ul id="shoesList">
				<li class="LeBron1">
					<img src="{% static 'img/LeBron/LeBron1-first.jpg' %}" id="leBron1">
					<h3>LeBron1</h3>
				</li>
				<li class="LeBron2">
					<img src="{% static 'img/LeBron/LeBron2-first.jpg' %}" id="leBron2">
					<h3>LeBron2</h3>
				</li>
				<li class="LeBron3">
					<img src="{% static 'img/LeBron/LeBron3-first.jpg' %}" id="leBron3">
					<h3>LeBron3</h3>
				</li>
				<li class="LeBron4">
					<img src="{% static 'img/LeBron/LeBron4-first.jpg' %}" id="leBron4">
					<h3>LeBron4</h3>
				</li>
			</ul>
		</div>
	</div>