{% extends 'theme_for_news.html' %}
{% load staticfiles %}

{% block img_lazy_1 %}<img class="lazy" src="{% static 'img/news/new6.jpg' %}">{% endblock img_lazy_1 %}
{% block figcaption_title_1 %}适合小仙女上脚！超美樱花粉 Air Jordan 1 Mid 即将登场{% endblock figcaption_title_1 %}
{% block span_tip-date_1 %}4小时前{% endblock span_tip-date_1 %}

{% block img_lazy_2 %}<img class="lazy" src="{% static 'img/news/new7.jpg' %}">{% endblock img_lazy_2 %}
{% block figcaption_title_2 %}不止 Air Force 1 ！Supreme 与 Nike 还有新作，年底登场！{% endblock figcaption_title_2 %}
{% block span_tip-date_2 %}5小时前{% endblock span_tip-date_2 %}

{% block img_lazy_3 %}<img class="lazy" src="{% static 'img/news/new8.jpg' %}">{% endblock img_lazy_3 %}
{% block figcaption_title_3 %}可撕鞋面+ 3M 反光设计！这双 Air Max 98 规格不凡{% endblock figcaption_title_3 %}
{% block span_tip-date_3 %}5小时前{% endblock span_tip-date_3 %}

{% block img_lazy_4 %}<img class="lazy" src="{% static 'img/news/new9.jpg' %}">{% endblock img_lazy_4 %}
{% block figcaption_title_4 %}晒出你的壁纸{% endblock figcaption_title_4 %}
{% block span_tip-date_4 %}5小时前{% endblock span_tip-date_4 %}

{% block img_lazy_5 %}<img class="lazy" src="{% static 'img/news/new10.jpg' %}">{% endblock img_lazy_5 %}
{% block figcaption_title_5 %}拥有威士忌“余香”！HANON x MIZUNO 联名鞋款规格极高{% endblock figcaption_title_5 %}
{% block span_tip-date_5 %}21小时前{% endblock span_tip-date_5 %}
            
{% block js %}
<script>
    var news2 = document.getElementById('newsPage2');
    news2.style.backgroundColor = 'rgba(0,0,0,0.3)';
</script>
{% endblock js %}
    