{% extends 'theme_for_news.html' %}
{% load staticfiles %}

{% block img_lazy_1 %}<img class="lazy" src="{% static 'img/news/new11.jpg' %}">{% endblock img_lazy_1 %}
{% block figcaption_title_1 %}城市户外主题！WILD THINGS x BEAUTY &amp; YOUTH 全新合作系列释出{% endblock figcaption_title_1 %}
{% block span_tip-date_1 %}22小时前{% endblock span_tip-date_1 %}

{% block img_lazy_2 %}<img class="lazy" src="{% static 'img/news/new12.jpg' %}">{% endblock img_lazy_2 %}
{% block figcaption_title_2 %}外形酷似 Yeezy 700 ！EQT Solution 全新配色即将发售！{% endblock figcaption_title_2 %}
{% block span_tip-date_2 %}22小时前{% endblock span_tip-date_2 %}

{% block img_lazy_3 %}<img class="lazy" src="{% static 'img/news/new13.jpg' %}">{% endblock img_lazy_3 %}
{% block figcaption_title_3 %}独特系带方式！Fear of God Essentials x Converse Chuck 70 联名本周亮相{% endblock figcaption_title_3 %}
{% block span_tip-date_3 %}22小时前{% endblock span_tip-date_3 %}

{% block img_lazy_4 %}<img class="lazy" src="{% static 'img/news/new14.jpg' %}">{% endblock img_lazy_4 %}
{% block figcaption_title_4 %}还有白色版本！藤原浩晒出 Fragment x Moncler x Converse 全新联名{% endblock figcaption_title_4 %}
{% block span_tip-date_4 %}23小时前{% endblock span_tip-date_4 %}

{% block img_lazy_5 %}<img class="lazy" src="{% static 'img/news/new15.jpg' %}">{% endblock img_lazy_5 %}
{% block figcaption_title_5 %}本月底登场！重磅 Travis Scott x Nike SB Dunk Low 联名不要错过{% endblock figcaption_title_5 %}
{% block span_tip-date_5 %}24小时前{% endblock span_tip-date_5 %}
            
{% block js %}
<script>
    var news3 = document.getElementById('newsPage3');
    news3.style.backgroundColor = 'rgba(0,0,0,0.3)';
</script>
{% endblock js %}