{% extends 'theme_for_news.html' %}
{% load staticfiles %}

{% block img_lazy_1 %}<img class="lazy" src="{% static 'img/news/new1.jpg' %}">{% endblock img_lazy_1 %}
{% block figcaption_title_1 %}炫彩珍珠色调！全新 Air Max 97 奢华感强烈{% endblock figcaption_title_1 %}
{% block span_tip-date_1 %}34分钟前{% endblock span_tip-date_1 %}

{% block img_lazy_2 %}<img class="lazy" src="{% static 'img/news/new2.jpg' %}">{% endblock img_lazy_2 %}
{% block figcaption_title_2 %}现代雕塑艺术灵感！Vans 全新 Origami 系列鞋履正式登场{% endblock figcaption_title_2 %}
{% block span_tip-date_2 %}2小时前{% endblock span_tip-date_2 %}

{% block img_lazy_3 %}<img class="lazy" src="{% static 'img/news/new3.jpg' %}">{% endblock img_lazy_3 %}
{% block figcaption_title_3 %}内容相当丰富！A BATHING APE® x COACH 联名系列完整曝光{% endblock figcaption_title_3 %}
{% block span_tip-date_3 %}2小时前{% endblock span_tip-date_3 %}

{% block img_lazy_4 %}<img class="lazy" src="{% static 'img/news/new4.jpg' %}">{% endblock img_lazy_4 %}
{% block figcaption_title_4 %}十种纹理+反光设计！这双 Air Force 1 值得入手！{% endblock figcaption_title_4 %}
{% block span_tip-date_4 %}3小时前{% endblock span_tip-date_4 %}

{% block img_lazy_5 %}<img class="lazy" src="{% static 'img/news/new5.jpg' %}">{% endblock img_lazy_5 %}
{% block figcaption_title_5 %}天价 AJ 原价入手？One Block Down 举办 AJ 1 Mid “米兰”特别发售活动{% endblock figcaption_title_5 %}
{% block span_tip-date_5 %}4小时前{% endblock span_tip-date_5 %}
            
{% block js %}
<script>
    var news1 = document.getElementById('newsPage1');
    news1.style.backgroundColor = 'rgba(0,0,0,0.3)';
</script>
{% endblock js %}
    