{% extends 'theme_for_shoes_list.html' %}
{% load staticfiles %}

{% block title %}<title>球鞋展示-ADIDAS</title>{% endblock title %}
{% block rotation_picture %}
	<li><img src="{% static 'img/adidas/1.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/2.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/3.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/4.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/5.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/6.png' %}" alt=""></li>
	<li><img src="{% static 'img/adidas/1.png' %}" alt=""></li>
{% endblock rotation_picture %}
{% block main_shoestype %}					
	<div id="adidas">
		<div id="harden">
			<h2>Harden系列</h2>
			<ul id="shoesList">
				<li class="harden1">
					<img src="{% static 'img/Harden/harden1-first.jpg' %}" id="harden1">
					<h3>Harden1</h3>
				</li>
				<li class="harden2">
					<img src="{% static 'img/Harden/harden2-first.jpg' %}" id="harden2">
					<h3>Harden2</h3>
				</li>
				<li class="harden">
					<img src="{% static 'img/Harden/harden3-first.jpg' %}" id="harden3">
					<h3>Harden3</h3>
				</li>
				<li class="harden">
					<img src="{% static 'img/Harden/harden4-first.jpg' %}" id="harden4">
					<h3>Harden4</h3>
				</li>
			</ul>
		</div>
	</div>
{% endblock main_shoestype %}
		