{% extends 'theme_for_shoes_list.html' %}
{% load staticfiles %}

{% block title %}<title>球鞋展示-CONVERSE</title>{% endblock title %}
{% block rotation_picture %}
	<li><img src="{% static 'img/converse/1.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/2.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/3.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/4.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/5.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/6.png' %}" alt=""></li>
	<li><img src="{% static 'img/converse/1.png' %}" alt=""></li>
{% endblock rotation_picture %}
{% block main_shoestype %}
	<div id="converse">
		<div id="chuck">
			<h2>Chuck系列</h2>
			<ul id="shoesList">
				<li class="Chuck1">
					<img src="{% static 'img/Chuck/chuck1-first.jpg' %}" id="chuck1">
					<h3>chuck1</h3>
				</li>
				<li class="Chuck2">
					<img src="{% static 'img/Chuck/chuck2-first.jpg' %}" id="chuck2">
					<h3>chuck2</h3>
				</li>
				<li class="Chuck3">
					<img src="{% static 'img/Chuck/chuck3-first.jpg' %}" id="chuck3">
					<h3>chuck modern</h3>
				</li>
				<li class="Chuck4">
					<img src="{% static 'img/Chuck/chuck4-first.jpg' %}" id="chuck4">
					<h3>chuck x</h3>
				</li>
			</ul>
		</div>
	</div>
{% endblock main_shoestype %}
{% block js %}
	<script>
		// 查看更多
		function getMore(e) {
			more = e.target.parentNode.id;
			var httprequest = new XMLHttpRequest();
			httprequest.onreadystatechange = handleResponse2;
			httprequest.open('GET',"http://127.0.0.1:8089/display/converse/converse_more");
			httprequest.send();		
		}
		more.onclick=getMore;
	</script>
{% endblock js %}