{% extends 'theme_for_shoes_list.html' %}
{% load staticfiles %}

{% block title %}<title>球鞋展示-NIKE</title>{% endblock title %}
{% block rotation_picture %}
	<li><img src="{% static 'img/nike/1.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/2.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/3.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/4.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/5.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/6.png' %}" alt=""></li>
	<li><img src="{% static 'img/nike/1.png' %}" alt=""></li>
{% endblock rotation_picture %}
{% block main_shoestype %}
	<div id="nike">
		<div id="kyrie">
			<h2>Kyrie系列</h2>
			<ul id="shoesList">
				<li class="kyrie1">
					<img src="{% static 'img/Kyrie/kyrie1-first.jpg' %}" id="kyrie1">
					<h3>Kyrie1</h3>
				</li>
				<li class="kyrie2">
					<img src="{% static 'img/Kyrie/kyrie2-first.jpg' %}" id="kyrie2">
					<h3>Kyrie2</h3>
				</li>
				<li class="kyrie3">
					<img src="{% static 'img/Kyrie/kyrie3-first.jpg' %}" id="kyrie3">
					<h3>Kyrie3</h3>
				</li>
				<li class="kyrie4">
					<img src="{% static 'img/Kyrie/kyrie4-first.jpg' %}" id="kyrie4">
					<h3>Kyrie4</h3>
				</li>
			</ul>
		</div>
	</div>
{% endblock main_shoestype %}

{% block js %}
	<script>
		// 查看更多
		function getMore(e) {
			more = e.target.parentNode.id;
			var httprequest = new XMLHttpRequest();
			httprequest.onreadystatechange = handleResponse2;
			httprequest.open('GET',"http://127.0.0.1:8089/display/nike/nike_more");
			httprequest.send();		
		}
		more.onclick=getMore;
	</script>
{% endblock js %}